/* - - - - - - CSS Document - - - - - - - - -
Title : SmartWizard
Author : http://tech-laboratory.blogspot.com
Version: 0.98 
- - - - - - - - - - - - - - - - - - - - - */
/*---   [Reset]   ---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {line-height: 1; font-family:Helvetica, Arial, sans-serif;font-size:12px;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
.wiz-container p{
	line-height:15px;
}
 .wiz-container{

      width:920px;
      overflow:hidden;
      position:relative;
      color:#666;
      text-align:left;
      z-index:100;
	  top:20px;
  }
  .wiz-container ul{
    list-style: none; 
    position: relative; 
    padding: 3px ; 
    display:block;
    height:72px;
	margin: 10px 0;
	z-index: 2;
  }
  .wiz-container ul li{ 
    margin:0 -9px 0 0;
    position: relative; 
    float: left; 
    padding: 0; }
  .wiz-container ul li a { 
    color: #666666;
    display: block;
    font-size: 14px;
    height: 40px;
    margin: 0;
    padding: 14px 0 0 60px;
    text-decoration: none;
    width: 130px;
  }
  .wiz-container ul li a:hover {   
    color:#0464BB; 
  }
  .wiz-anc-default{
	  background:url("images/ribbon.png") no-repeat scroll -5px -200px transparent;
    
  }
  .wiz-anc-current{
    background:url("images/ribbon.png") no-repeat scroll -5px -257px transparent;
	color: #FFFFFF !important;
  }
  .wiz-anc-done{
    background:url("images/ribbon.png") no-repeat scroll -5px -257px transparent;
  }
  .wiz-anc-error{ /*wiz-anc-done */
    color:#CD0A0A  !important; 
    /*background-color:#FEF1EC ;*/
    border:#AE1000 solid 1px;
  }  
  .wiz-body{
    background-color: #FFFFFF;
    border-bottom: 0 solid #E0E0E0;
    box-shadow: 0 0 5px #CCCCCC;
    display: block;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: -149px;
    width: 850px;
	border:#ddd solid 1px;
  }
  .wiz-body div.wiz-content {
    border-bottom: 0 solid #E0E0E0;
    display: block;
    height: 315px;
    left: 0;
    margin: 130px 25px;
    overflow: auto;
    padding: 3px;
    position: relative;
    text-decoration: none;
    top: 0;
    width: auto;
  }
  .wiz-nav {
    display:block; 
    position: absolute;
    left:0px;
    bottom:0px;
    text-decoration: none; 
    padding: 2px 5px 2px 5px;
    height:30px;
    margin : 0px 0px 5px 0px;
	width:100%;
 
  }
  .wiz-nav #next {
    float:right;
  }
  .wiz-nav #back{
    float:left;
  }
  .wiz-nav #done{
    margin-left:30%;
    float:left;
  }
  
  
  /* Button & Textbox Styles */
  h1, h2, h3{
      margin:0;
      padding:0;
  }
  
  h2{
	  font-size:24px;
	  color:#669999;
	  font-weight:lighter;
}
  .btn{
      width                 : 100px;
      -moz-border-radius    : 3px;
      -webkit-border-radius : 3px;
	  background			:url(images/button_bg.jpg) repeat-x;
      color                 : #FFFFFF;
      margin                : 0px 30px;
      padding               : 4px;
      text-align            : center;
      border                : 1px solid #aab850;    
      text-decoration       : none; 
	  font-weight			: bolder;
  }
  .btn:hover{
      background      : #C34D78;
      color           : #FFFFFF;
      border          : 1px solid #fff; 
      text-decoration : none; 
  }
  
  .wiz-body .text{ 
    border: 1px solid #E0E0E0; 
    width:300px;
    padding:4px;
  }  
  .wiz-body .text:focus{ 
    border: 1px solid #EA8511; 
  } 
  .wiz-nav div.error{
    font : bold 12px Verdana, Arial, Helvetica, sans-serif;
    display:none;
    position:relative;
    left:30%;
    top:5px;
    width:400px; 
    padding: 5px 5px 5px 10px;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;  
    float:left;
    background:#FFE45C;
    border:1px solid #FED22F;
    color:#363636;    
  }
  
  
  /* End Button Styles */
  
  /* Header logo*/
  #logo-br{
    background: url("images/logo-br.png") no-repeat scroll 0 0 #FFFFFF;
    height: 55px;
    left: 65px;
    position: relative;
    top: 10px;
    width: 95px;
    z-index: 2;
	 }
	 
.ribbon-left{
	background:url("images/ribbon.png") repeat scroll 0px -133px!important;
	border:none !important;
	border-radius: 0 !important;
}

.ribbon-right{
	background:url("images/ribbon.png") repeat scroll 0 -65px transparent !important;
	border:none !important;
	border-radius: 0 !important;
}

#wrapper{
	width:960px;
	height:500px;
	padding:20px;
	margin:0 auto;
	
}
.br-left{
    float: left;
    height: 315px;
    width: 300px;
}
.br-right{
	float:left;
	width:490px;
    height: 315px;
}
.center{
	margin:80px 190px;
	position:relative;
}
.br-input{
    background: url("images/inputbox-bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #DDDBDB;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    height: 18px;
    padding: 6px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 290px;
}
.br-input input{
	border:0px;
	background-color:transparent;
}
.br-textarea{
	background: url("images/inputbox-bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #DDDBDB;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    height: 48px;
    padding: 6px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 290px;
}
.br-textarea textarea{
	border:0px;
	background-color:transparent;
}
.br-tag{
	background: url("images/inputbox-bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #DDDBDB;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    height: 18px;
    padding: 6px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 80px;
	float:left;
	margin-right:10px;
}
.br-tag input{
	border:0px;
	background-color:transparent;
}